.orders-table {
    width: 1000px;
    margin-top: 5%;
    height: 100vh;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table th {
    background-color: #007bff;
    color: white;
}

.styled-table tr:nth-child(even) {
    background-color: #f3f3f3; 
}

.styled-table tr:nth-child(odd) {
    background-color: #fff; 
}

.styled-table tr:hover {
    background-color: #ddd;
}

.show-order-details-btn {
    padding: 5px 10px;
    margin-right: 5px;
    border: none;
    cursor: pointer;
    background-color: #007bff;
    color: white; 
    border-radius: 5px; 
    transition: background-color 0.3s ease;
}

.show-order-details-btn:hover {
    background-color: #0056b3; 
}

.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination button {
    margin: 0 5px;
    padding: 8px 12px;
    border: none;
    background-color: #218838;
    color: white;
    cursor: pointer;
}

.pagination button.active {
    background-color: #006f5f;
}

