 .App {
  height: 100vh; 
  display: flex;
  flex-direction: column;
}

.appContent {
  display: flex;
  margin-top:5% ;
  flex-direction: column;
  height: 100%; 
}

.header {
  width: 100%;
}

.main-content {
  flex: 1;
  padding: 20px;
  margin-top:50px ;
  background-color: #f8f9fa;
  overflow-y: auto;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  direction: rtl;
  text-align: right;
}

.routes-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%; 
  height: 100%; 
}

